<div [formGroup]="form" class="container">
  <h2>Contato</h2>
  <form action="javascript:void(0)" (submit)="send()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input formControlName="from_name" type="text" id="nome" name="nome" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input formControlName="from_email" type="email" id="email" name="email" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="mensagem">Mensagem:</label>
      <textarea formControlName="message" id="mensagem" name="mensagem" class="form-control" required></textarea>
    </div>
    <button type="submit" class="formbold-btn">
      Enviar
    </button>
  </form>
</div>